<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.ruoyi.blog.mapper.BlogMapper">
    
    <resultMap id="Blog" type="com.ruoyi.blog.domain.Blog">
        <id property="id" column="id"/>
        <result property="authorId" column="author_id"/>
        <result property="title" column="title"/>
        <result property="preview" column="preview"/>
        <result property="status" column="status"/>
        <result property="deleted" column="deleted"/>
        <result property="releaseTime" column="release_time"/>
        <result property="createTime" column="create_time"/>
        <result property="likeCnt" column="like_cnt"/>
        <result property="viewCnt" column="view_cnt"/>
        <result property="commentCnt" column="comment_cnt"/>
        <result property="collectCnt" column="collect_cnt"/>
        <result property="articleClassify" column="article_classify"/>
        <result property="personClassify" column="person_classify"/>
        <result property="type" column="type"/>
        <result property="picUrls" column="pic_urls"/>
        <result property="qtnPId" column="qtn_p_id"/>
        <result property="courseId" column="course_id"/>
        <result property="videoId" column="video_id"/>
        <result property="chapterId" column="chapter_id"/>
        <result property="chapterOrder" column="chapter_order"/>
    </resultMap>

    <resultMap id="BlogContent" type="com.ruoyi.blog.domain.BlogContent">
        <id property="blogId" column="blog_id"/>
        <result property="content" column="content"/>
        <result property="contentFormatting" column="content_formatting"/>
        <result property="contentHtml" column="content_html"/>
    </resultMap>

    <resultMap id="PersonalClassification" type="com.ruoyi.blog.domain.PersonalClassification">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="className" column="class_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into blog(
        <if test="title != null and title != ''">title,</if>
        <if test="preview != null and preview != ''">preview,</if>
        <if test="status != null and status != 0">status,</if>
        <if test="releaseTime != null and releaseTime != ''">release_time,</if>
        <if test="likeCnt != null and likeCnt != 0">like_cnt,</if>
        <if test="commentCnt != null and commentCnt != 0">comment_cnt,</if>
        <if test="viewCnt != null and viewCnt != 0">viewCnt,</if>
        <if test="articleClassify != null and articleClassify != 0">article_classify,</if>
        <if test="personClassify != null and personClassify != 0">person_classify,</if>
        <if test="type != null and type != 0">type,</if>
        <if test="picUrls != null and picUrls != ''">pic_urls,</if>
        <if test="qtnPId != null and qtnPId != 0">qtn_p_id,</if>
        <if test="courseId != null and courseId != 0">course_id,</if>
        <if test="videoId != null and videoId != 0">video_id,</if>
        <if test="chapterId != null and chapterId != 0">chapter_id,</if>
        <if test="chapterOrder != null and chapterOrder != 0">chapter_order,</if>
        author_id
        ) values(
        <if test="title != null and title != ''">#{title},</if>
        <if test="preview != null and preview != ''">#{preview},</if>
        <if test="status != null and status != 0">#{status},</if>
        <if test="releaseTime != null and releaseTime != ''">#{releaseTime},</if>
        <if test="likeCnt != null and likeCnt != 0">#{likeCnt},</if>
        <if test="commentCnt != null and commentCnt != 0">#{commentCnt},</if>
        <if test="viewCnt != null and viewCnt != 0">#{viewCnt},</if>
        <if test="articleClassify != null and articleClassify != 0">#{articleClassify},</if>
        <if test="personClassify != null and personClassify != 0">#{personClassify},</if>
        <if test="type != null and type != 0">#{type},</if>
        <if test="picUrls != null and picUrls != ''">#{picUrls},</if>
        <if test="qtnPId != null and qtnPId != 0">#{qtnPId},</if>
        <if test="courseId != null and courseId != 0">#{courseId},</if>
        <if test="videoId != null and videoId != 0">#{videoId},</if>
        <if test="chapterId != null and chapterId != 0">#{chapterId},</if>
        <if test="chapterOrder != null and chapterOrder != 0">#{chapterOrder},</if>
        #{authorId}
        )
    </insert>

    <sql id="blogColumns">
        id,
        author_id,
        title,
        preview,
        status,
        release_time,
        create_time,
        like_cnt,
        view_cnt,
        comment_cnt,
        collect_cnt,
        article_classify,
        person_classify,
        type,
        pic_urls,
        qtn_p_id,
        course_id,
        video_id,
        chapter_id,
        chapter_order
    </sql>


    <insert id="insertBlogContent">
        insert into blog_content(
        <if test="content != null and content != ''">content,</if>
        <if test="contentFormatting != null and contentFormatting != ''">content_formatting,</if>
        <if test="contentHtml != null and contentHtml != ''">content_html,</if>
        blog_id
        ) values (
        <if test="content != null and content != ''">#{content},</if>
        <if test="contentFormatting != null and contentFormatting != ''">#{contentFormatting},</if>
        <if test="contentHtml != null and contentHtml != ''">#{contentHtml},</if>
        #{blogId}
        )
    </insert>

    <insert id="insertPersonClassification" useGeneratedKeys="true" keyProperty="id">
        insert into personal_classification(user_id, class_name)
        select #{userId}, #{className}
        from dual
        where not exists(
                select 1 from personal_classification where user_id = #{userId} and class_name = #{className}
            )
    </insert>

    <delete id="deletePersonClassificationById">
        delete
        from personal_classification
        where id = #{id}
    </delete>

    <delete id="deleteBlogByIds">
        update blog set deleted = 1 where type = 2 and author_id = #{userId} and id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteContentByIds">
        update blog_content set deleted = 1 where blog_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="deleteContentById">
        update blog_content
        set deleted = 1
        where blog_id = #{id}
    </update>

    <update id="deleteBlogById">
        update blog
        set deleted = 1
        where id = #{id}
          and author_id = #{authorId}
    </update>

    <update id="moveToDefaultClass">
        update blog
        set person_classify = (
        select id from personal_classification where user_id = #{userId} and class_name = '默认分类'
        )
        where id in
        <foreach collection="articleIdList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateBlogById">
        update blog set
        <if test="title != null and title != ''">title = #{title},</if>
        <if test="preview != null and preview != ''">preview = #{preview},</if>
        <if test="status != null and status != 0">status = #{status},</if>
        <if test="deleted != null and deleted != 0">deleted = #{deleted},</if>
        <if test="releaseTime != null and releaseTime != ''">release_time = #{releaseTime},</if>
        <if test="likeCnt != null and likeCnt != 0">like_cnt = #{likeCnt},</if>
        <if test="commentCnt != null and commentCnt != 0">comment_cnt = #{commentCnt},</if>
        <if test="viewCnt != null and viewCnt != 0">view_cnt = #{viewCnt},</if>
        <if test="articleClassify != null and articleClassify != 0">article_classify = #{articleClassify},</if>
        <if test="personClassify != null and personClassify != 0">person_classify = #{personClassify},</if>
        <if test="qtnPId != null and qtnPId != 0">qtn_p_id = #{qtnPId},</if>
        <if test="courseId != null and courseId != 0">course_id = #{courseId},</if>
        <if test="videoId != null and videoId != 0">video_id = #{videoId},</if>
        <if test="chapterId != null and chapterId != 0">chapter_id = #{chapterId},</if>
        <if test="chapterOrder != null and chapterOrder != 0">chapter_order = #{chapterOrder},</if>
        type = type
        where id = #{id}
    </update>

    <update id="updateBlogContent">
        update blog_content
        set content            = #{content},
            content_formatting = #{contentFormatting},
            content_html       = #{contentHtml}
        where blog_id = #{blogId}
    </update>

    <update id="acceptAns">
        update blog
        set status = 3, qtn_p_id = #{qtnId}
        where id = #{ansId}
          and author_id = #{userId}
    </update>


    <select id="getTempBlogList" resultMap="Blog">
        select
        <include refid="blogColumns"/>
        from blog
        where deleted = '0'
        and status = '1'
        and type = '1'
    </select>

    <select id="getArticleList" resultMap="Blog">
        select
        <include refid="blogColumns"/>
        from blog
        where deleted = '0'
        <if test="blog.authorId != null and blog.authorId != 0">and author_id = #{blog.authorId}</if>
        <if test="blog.id != null and blog.id != 0">and id = #{blog.id}</if>
        <if test="blog.title != null and blog.title != ''">and title like "%"#{blog.title}"%"</if>
        <if test="blog.status != null and blog.status != 0">and status = #{blog.status}</if>
        <if test="blog.articleClassify != null and blog.articleClassify != 0">and article_classify =
            #{blog.articleClassify}
        </if>
        <if test="blog.personClassify != null and blog.personClassify != 0">and person_classify =
            #{blog.personClassify}
        </if>
        <if test="blog.type != null and blog.type != 0">and type = #{blog.type}</if>
        <if test="blog.qtnPId != null and blog.qtnPId != 0">and qtn_p_id = #{blog.qtnPId}</if>
        <if test="order != null and order != 0">
            order by
            <if test="order == 1">create_time asc</if>
            <if test="order == 2">create_time desc</if>
            <if test="order == 3">like_cnt desc</if>
            <if test="order == 4">RAND()</if>
            <if test="order == 5">release_time desc</if>
            <if test="order == 6">like_cnt desc, collect_cnt desc, view_cnt desc, create_time desc</if>
        </if>
        <if test="offset != null and pageSize != null and pageSize != 0">
            limit #{pageSize} offset #{offset}
        </if>

    </select>

    <select id="getPersonClassByIds" resultMap="PersonalClassification">
        select id, class_name, create_time
        from personal_classification
        where id in
        <foreach collection="idList" item="classId" separator="," open="(" close=")">
            #{classId}
        </foreach>
        order by create_time desc
    </select>

    <select id="getPersonClassByUserId" resultMap="PersonalClassification">
        select id, class_name
        from personal_classification
        where user_id = #{userId}
    </select>

    <select id="getArticleCnt" resultType="java.lang.Long">
        select count(0) from blog
        where deleted = '0'
        <if test="id != null and id != 0">and id = #{id}</if>
        <if test="authorId != null and authorId != 0">and author_id = #{authorId}</if>
        <if test="title != null and title != ''">and title like "%"#{title}"%"</if>
        <if test="status != null and status != 0">and status = #{status}</if>
        <if test="articleClassify != null and articleClassify != 0">and article_classify = #{articleClassify}</if>
        <if test="personClassify != null and personClassify != 0">and person_classify = #{personClassify}</if>
        <if test="type != null and type != 0">and type = #{type}</if>
        <if test="qtnPId != null and qtnPId != 0">and qtn_p_id = #{qtnPId}</if>
    </select>

    <select id="getArticleContent" resultMap="BlogContent">
        select blog_id, content_formatting, content_html
        from blog_content
        where blog_id = #{articleId}
    </select>

    <select id="getBlogByIds" resultType="com.ruoyi.blog.domain.Blog">
        select
        <include refid="blogColumns"/>
        from blog where id in
        <foreach collection="idList" item="blogId" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </select>

    <select id="getAnsCntByIds" resultType="java.util.Map">
        select qtn_p_id as q_id, count(id) as ans_cnt
        from blog where qtn_p_id in
        <foreach collection="qtnIdList" item="qtnId" open="(" separator="," close=")">#{qtnId}</foreach>
        group by q_id
    </select>

    <select id="getContentByIds" resultMap="BlogContent">
        select blog_id, content, content_formatting, content_html
        from blog_content
        where blog_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAcptAnsCnt" resultType="java.lang.Integer">
        select count(id)
        from blog
        where qtn_p_id = #{qtnId}
          and status = 3
    </select>

    <select id="getVideoByChapterIds" resultMap="Blog">
        select <include refid="blogColumns"/>
        from blog where author_id = #{userId} and chapter_id in
        <foreach collection="chapterIds" item="chapterId" open="(" separator="," close=")">
            #{chapterId}
        </foreach>
    </select>


</mapper>