<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blog.mapper.BlogMapper">
    
    <resultMap id="Blog" type="com.ruoyi.blog.domain.Blog">
        <id     property="id"                   column="id"/>
        <result property="authorId"             column="author_id"/>
        <result property="title"                column="title"/>
        <result property="preview"              column="preview"/>
        <result property="status"               column="status"/>
        <result property="deleted"              column="deleted"/>
        <result property="releaseTime"          column="release_time"/>
        <result property="createTime"           column="create_time"/>
        <result property="likeCnt"              column="like_cnt"/>
        <result property="viewCnt"              column="view_cnt"/>
        <result property="commentCnt"           column="comment_cnt"/>
        <result property="articleClassify"      column="article_classify"/>
        <result property="personClassify"       column="person_classify"/>
        <result property="type"                 column="type"/>
    </resultMap>

    <resultMap id="BlogContent" type="com.ruoyi.blog.domain.BlogContent">
        <id     property="blogId"               column="blog_id"/>
        <result property="content"              column="content"/>
        <result property="contentFormatting"    column="content_formatting"/>
    </resultMap>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into blog(
            <if test="title != null and title != ''">title,</if>
            <if test="preview != null and preview != ''">preview,</if>
            <if test="status != null and status != 0">status,</if>
            <if test="releaseTime != null and releaseTime != ''">release_time,</if>
            <if test="likeCnt != null and likeCnt != 0">like_cnt,</if>
            <if test="commentCnt != null and commentCnt != 0">comment_cnt,</if>
            <if test="viewCnt != null and viewCnt != 0">viewCnt,</if>
            <if test="articleClassify != null and articleClassify != 0">article_classify,</if>
            <if test="personClassify != null and personClassify != 0">person_classify,</if>
            <if test="type != null and type != 0">type,</if>
            author_id
        ) values(
            <if test="title != null and title != ''">#{title},</if>
            <if test="preview != null and preview != ''">#{preview},</if>
            <if test="status != null and status != 0">#{status},</if>
            <if test="releaseTime != null and releaseTime != ''">#{releaseTime},</if>
            <if test="likeCnt != null and likeCnt != 0">#{likeCnt},</if>
            <if test="commentCnt != null and commentCnt != 0">#{commentCnt},</if>
            <if test="viewCnt != null and viewCnt != 0">#{viewCnt},</if>
            <if test="articleClassify != null and articleClassify != 0">#{articleClassify},</if>
            <if test="personClassify != null and personClassify != 0">#{personClassify},</if>
            <if test="type != null and type != 0">#{type},</if>
            #{authorId}
        )
    </insert>


    <insert id="insertBlogContent">
        insert into blog_content(
            <if test="content != null and content != ''">content,</if>
            <if test="contentFormatting != null and contentFormatting != ''">content_formatting,</if>
            blog_id
        ) values (
            <if test="content != null and content != ''">#{content},</if>
            <if test="contentFormatting != null and contentFormatting != ''">#{contentFormatting},</if>
            #{blogId}
        )
    </insert>


    <select id="getTempBlogList" resultMap="Blog">
        select id, author_id, preview, release_time, like_cnt, view_cnt, comment_cnt
        from blog where deleted = '0' and status = '1' and type = '1'
    </select>


</mapper>