<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FollowListMapper">

    <resultMap id="FollowList" type="com.ruoyi.system.domain.BizFollowList">
        <result property="userId" column="user_id"/>
        <result property="followerId" column="follower_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="addFollowList">
        insert into biz_follow_list(user_id, follower_id)
        VALUES (#{followId}, #{userId})
    </insert>

    <delete id="delFollowList">
        delete
        from biz_follow_list
        where user_id = #{followId}
          and follower_id = #{userId}
    </delete>

    <select id="isFollowed" resultType="java.lang.Integer">
        select count(1)
        from biz_follow_list
        where user_id = #{followerId}
          and follower_id = #{userId}
    </select>

    <!-- 查询粉丝列表 -->
    <select id="getFollowerIdList" resultType="java.lang.Long">
        select follower_id
        from biz_follow_list
        where user_id = #{userId}
        order by create_time desc
            limit #{pageSize}
        offset #{offset}
    </select>

    <!-- 查询关注列表 -->
    <select id="getSubIdList" resultType="java.lang.Long">
        select user_id
        from biz_follow_list
        where follower_id = #{userId}
        order by create_time desc limit #{pageSize}
        offset #{offset}
    </select>

    <select id="getIsFollowedList" resultType="java.lang.Long">
        select user_id
        from biz_follow_list
        where follower_id = #{userId} and user_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>