<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.ruoyi.mqConsumers.mapper.SysUserMapper">

    <update id="increaseFollowCnt">
        update biz_user
        set follower_cnt = follower_cnt + 1
        where user_id = #{userId}
    </update>

    <update id="decreaseFollowCnt">
        update biz_user
        set follower_cnt = follower_cnt - 1
        where user_id = #{userId}
    </update>
</mapper>